<div>
  <img src="headphone.svg" alt="Head Phone">
  Tocando agora
</div>

<div class="player">
  <img src="" alt="" class="podcast-capa" />
  <div class="podcast-name">O que é um bom código?</div>
  <div class="author">Diego e Richard</div>

  <div class="podcast-timer">
    <div class="current-time">0:00</div>
    <div class="progress-bar">
      <div class="progress"></div>
    </div>
    <div class="total-time">1:35:18</div>
  </div>

  <div class="podcast__buttons">
    <button class="button-aleatory">
      <img src="/assets/skip_previous.svg" alt="" />
    </button>
    <button class="button-prev">
      <img src="/assets/skip_previous.svg" alt="" />
    </button>
    <button class="button-play">
      <img src="/assets/play_arrow.svg" alt="" />
    </button>
    <button class="button-next">
      <img src="/assets/skip_next.svg" alt="" />
    </button>
    <button class="button-repeat">
      <img src="/assets/skip_next.svg" alt="" />
    </button>
  </div>
</div>