<main [style.grid-template-columns]="isTogglePlayer() ? '1fr': '1fr 434px'">
  <div>
    <app-header />
    <section>
      <h3>Últimos lançamentos</h3>

      <div class="card-podcast-releases">
        @for (item of [0,1]; track $index) {
        <div class="card-podcast-release">
          <div class="card-podcast-releases__image">
            <img
              src="https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Imagem do álbum" />
          </div>
          <div class="card-podcast-releases__content">
            <div class="title">O que é um bom código?</div>
            <div class="card-podcast-releases__content__date">
              <div>
                <div class="author">Diego e Richard</div>
                <div class="date-hour">
                  <div>8 Jan 21</div>
                  <div class="ball"></div>
                  <div>1:35:18</div>
                </div>
              </div>
              <button class="button-play">
                <img src="/assets/play_arrow.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
        }
      </div>

      <h3>Todos os episódios </h3>


      <table>
        <thead>
          <tr>
            <th>
              Podcast
            </th>
            <th>
              Integrantes
            </th>
            <th>Data</th>
            <th>Duração</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          @for (item of [0,2,3,4,2,3,4,5,5,5,6,8]; track $index) {
          <tr>
            <td>
              <div class="podcast">
                <img class="podcast-capa"
                  src="https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Imagem do álbum" />

                <div class="podcast-name">O que é um bom código?</div>
              </div>
            </td>
            <td>Diego e Richard</td>
            <td>8 Jan 21</td>
            <td>1:35:18</td>
            <td>
              <button class="button-play">
                <img src="/assets/play_arrow.svg" alt="" />
              </button>
            </td>
          </tr>
          }
          <tr>
            <td>
              <div class="podcast">
                <img class="podcast-capa"
                  src="https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Imagem do álbum" />

                <div class="podcast-name">O que é um bom código esse e o final?</div>
              </div>
            </td>
            <td>Diego e Richard</td>
            <td>8 Jan 21</td>
            <td>1:35:18</td>
            <td>
              <button class="button-play">
                <img src="/assets/play_arrow.svg" alt="" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <app-player (isTogglePlayerEvent)="isTogglePlayer.set($event)" />
</main>